
.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox--hidden {
    display: none;
}

.checkbox + .checkbox {
    margin-top: 9px;
}

.checkbox__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.checkbox__fake {
    position: relative;
    display: inline-block;
    margin-right: 9px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
}

.checkbox__fake:hover {
    border-color: #A7A7A7;
}

.checkbox__real:checked + .checkbox__fake {
    border-color: #A7A7A7;
    background-color: #7993A6;
}

.checkbox__real:checked + .checkbox__fake::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 18px;
    height: 18px;
    background-image: url('./check.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}
